body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
    text-align: center;
}
/* HEADER */
.top-header {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #2d2dd7;
  color: white;
}
.logo-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
  border: 2px solid white;
}
.logo-img-2{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: contain;
  border: 2px solid rgb(0, 0, 0);
}
.logo-section h1 {
  font-size: 22px;
}
/* HEADER Close*/

/* ABOUT PANEL */
.about-panel {
  position: fixed;
  top: 0;
  right: -450px;
  width: 400px;
  height: 100%;
  background: #fefffe;
  box-shadow: -3px 0 10px rgba(0,0,0,0.3);
  padding: 20px;
  transition: 0.3s ease;
  overflow-y: auto;
  z-index: 1000;
}
.about-panel h2{
    background-color: #0f0f0f;
}
.about-panel.active {
  right: 0;
}
.close-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  float: right;
}
#aboutContent {
  margin-top: 20px;
  border: 1px solid #fff5f5;
  padding: 10px;
  min-height: 150px;
  background: rgb(47, 64, 222);
}
/* ABOUT PANEL Close*/

.container {
    padding: 40px;
}
h1 {
    font-size: 35px;
}
.search-box {
    margin: 20px 0;
}
input {
    padding: 10px;
    width: 250px;
    border-radius: 8px;
    border: none;
}
button {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 5px;
    background-color: #ffcc00;
    font-weight: bold;
}
button:hover {
    background-color: #fffb00;
}
.section-buttons {
    margin-top: 30px;
}

#wordDisplay {
    margin-top: 30px;
    text-align: left;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;;
}
.word-item {
    background: rgba(255,255,255,0.1);
    padding: 10px;
    margin: 5px 0px;
    border-radius: 10px;
}
#searchResult {
    margin-top: 20px;
}
.words-columns {
  display: flex;
  gap: 30px;
}
.column {
  flex: 1;
}
.word-item {
  padding: 8px 8px;
}

.footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 5px;
}

.footer p {
  font-size: 20px;
  margin-bottom: 5px;
}

.social-links a {
  display: inline-block;
  margin: 10px 15px;
  color: rgba(242, 247, 246, 0.792);
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.social-links a i {
  margin-right: 8px;
}

.social-links a:hover {
  color: #03f012;
  font-size: 15px;
}